@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AirbnbCerealBold";
  src: url("./fonts/AirbnbCerealBold.woff");
}

@font-face {
  font-family: "AirbnbCerealMedium";
  src: url("./fonts/AirbnbCerealMedium.woff");
}

@font-face {
  font-family: "AirbnbCerealLight";
  src: url("./fonts/AirbnbCerealLight.woff");
}

input {
  outline: none;
  -webkit-appearance: none;
}

input:focus {
  outline: none;
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  outline: none;
  -webkit-appearance: none;
}

textarea:focus {
  outline: none;
  -webkit-appearance: none;
}

body {
  background-color: black;
}
